/GeoLite*
/composer.phar
.DS_Store
Thumbs.db
wp-cli.local.yml
/node_modules/
*.sql
*.tar.gz
*.zip
/*-workspace
/yarn-error.log
/.cache
/.vscode
*.code
/coverage
/.parcel-cache
/babel.config.json

/lib/vendor

/wordpress/

/vendor/doctrine
/vendor/myclabs
/vendor/phar-io/
/vendor/phpdocumentor/
/vendor/phpspec/
/vendor/phpunit/
/vendor/roots/
/vendor/sebastian/
/vendor/theseer/
/vendor/webmozart/
/vendor/wp-phpunit/
/vendor/yoast/phpunit-polyfills
/vendor/nikic/php-parser/
/vendor/bin/phpunit
/vendor/bin/php-parse

/vendor/geoip2/geoip2/examples/
/vendor/symfony/http-foundation/*
!/vendor/symfony/http-foundation/LICENSE
!/vendor/symfony/http-foundation/IpUtils.php
