sudo: false

notifications:
  email:
    on_success: never
    on_failure: change


cache:
  directories:
    - $HOME/.composer/cache



language: php

services:
  - mysql

env:
  global:
    - WP_DB_USER=wp
    - WP_DB_PASS=password
    - WP_DB_NAME=wp_tests
    - WP_VERSION=*

php:
  - 8.0
  - 7.4
  - 7.3
  - 7.2

matrix:
  fast_finish: true
  include:
    - php: 7.2
      env: WP_VERSION=5.4

before_script:
  - mysql -u root -e "GRANT ALL PRIVILEGES ON ${WP_DB_NAME}.* TO ${WP_DB_USER} IDENTIFIED BY '${WP_DB_PASS}';"
  - mysql -u root -e "CREATE DATABASE ${WP_DB_NAME};"

install:
  - composer validate
  - composer require --ignore-platform-reqs --dev roots/wordpress:${WP_VERSION} wp-phpunit/wp-phpunit:${WP_VERSION}
  - composer install --ignore-platform-reqs
  - composer show
  - nvm install 12 && nvm use 12
  - yarn install

script:
  - composer test
  - yarn test
  - yarn build