version: ~> 1.0

notifications:
  email:
    on_success: never
    on_failure: change


cache:
  directories:
    - $HOME/.composer/cache

language: php
os: linux
dist: xenial

services:
  - mysql

env:
  global:
    - WP_DB_USER=wp
    - WP_DB_PASS=password
    - WP_DB_NAME=wp_tests
    - WP_VERSION=*
    - CF7_VERSION=v5.5.3
    - PHPUNIT_VERSION=

php:
  - 8.0
  - 7.3

jobs:
  fast_finish: true
  include:
    - name: php_7_2
      php: 7.2
      env: PHPUNIT_VERSION=^7.0
    - name: php_7_2_and_wp_5_4
      php: 7.2
      env: WP_VERSION=5.4.9 CF7_VERSION=v5.1.6 PHPUNIT_VERSION=^7.0
    - name: bleeding edge
      php: 8.1.0
      dist: focal
      env: CF7_VERSION=master
  allow_failures:
    - name: bleeding edge

install:
  - composer validate
  - composer require --dev --with-dependencies roots/wordpress:${WP_VERSION} wp-phpunit/wp-phpunit:${WP_VERSION} phpunit/phpunit:*
  - composer install
  - composer show
  - nvm install 12 && nvm use 12
  - yarn install
  - git clone --depth=50 --branch=${CF7_VERSION} https://github.com/takayukister/contact-form-7.git

before_script:
  - mysql -u root -e "CREATE USER ${WP_DB_USER} IDENTIFIED BY '${WP_DB_PASS}';"
  - mysql -u root -e "GRANT ALL PRIVILEGES ON ${WP_DB_NAME}.* TO ${WP_DB_USER};"
  - mysql -u root -e "CREATE DATABASE ${WP_DB_NAME};"
  - phpenv config-rm xdebug.ini || return 0

script:
  - composer test
  - yarn test
  - yarn build