version: ~> 1.0

notifications:
  email:
    on_success: never
    on_failure: change


cache:
  directories:
    - $HOME/.composer/cache
    - contact-form-7

language: php
os: linux
dist: xenial

services:
  - mysql

env:
  global:
    - WP_DB_USER=wp
    - WP_DB_PASS=password
    - WP_DB_NAME=wp_tests
    - WP_VERSION=*
    - CF7_VERSION=v5.5.3

php:
  - 8.0
  - 7.4
  - 7.3
  - 7.2

jobs:
  fast_finish: true
  include:
    - name: legacy
      php: 7.2
      env: WP_VERSION=5.4 CF7_VERSION=v5.1.6
    - name: bleeding edge
      php: 8.1.0
      dist: focal
      env: CF7_VERSION=master
  allow_failures:
    - name: bleeding edge

install:
  - composer validate
  - composer require --ignore-platform-reqs --dev roots/wordpress:${WP_VERSION} wp-phpunit/wp-phpunit:${WP_VERSION}
  - composer install --ignore-platform-reqs
  - composer show
  - nvm install 12 && nvm use 12
  - yarn install
  - if [ ! -d contact-form-7 ]; then git clone https://github.com/takayukister/contact-form-7.git; fi
  - cd contact-form-7 ; git fetch --all ; git checkout ${CF7_VERSION}
  - cd "$TRAVIS_BUILD_DIR"

before_script:
  - mysql -u root -e "CREATE USER ${WP_DB_USER} IDENTIFIED BY '${WP_DB_PASS}';"
  - mysql -u root -e "GRANT ALL PRIVILEGES ON ${WP_DB_NAME}.* TO ${WP_DB_USER};"
  - mysql -u root -e "CREATE DATABASE ${WP_DB_NAME};"
  - phpenv config-rm xdebug.ini || return 0

script:
  - composer test
  - yarn test
  - yarn build