sudo: false

language: php

notifications:
  email:
    recipients:
        - b.pick@yellowtree.de
    on_success: change
    on_failure: change

php:
    - '5.3'
    - '5.6'
    - '7.0'

env:
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1
    - WP_VERSION=3.7 WP_MULTISITE=0

matrix:
  exclude:
    - php: '7.0'
      env: WP_VERSION=3.7 WP_MULTISITE=0

before_script:
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then
      composer global require "phpunit/phpunit=5.7.*"
    else
      composer global require "phpunit/phpunit=4.8.*"
    fi

script: 
    - phpunit --verbose
