version: ~> 1.0

notifications:
  email:
    on_success: never
    on_failure: change


cache:
  directories:
    - $HOME/.composer/cache

language: php
os: linux
dist: focal

services:
  - mysql

env:
  global:
    - WP_DB_USER=wp
    - WP_DB_PASS=password
    - WP_DB_NAME=wp_tests
    - WP_VERSION=*
    - CF7_VERSION=v5.7.3
    - PHPUNIT_VERSION=^9.0

php:
  - 8.1
  - 8.0

jobs:
  fast_finish: true
  include:
    - name: php_8_2
      php: 8.2
      addons:
        apt:
          packages:
            - libonig5
    - name: php_7_2
      dist: xenial
      php: 7.2
      env: PHPUNIT_VERSION=^7.0
    - name: php_7_2_and_wp_5_9
      dist: xenial
      php: 7.2
      env: WP_VERSION=5.9.9 CF7_VERSION=v5.1.6 PHPUNIT_VERSION=^8.0
    - name: bleeding edge
      php: 8.3
      dist: jammy
      env: CF7_VERSION=master
      addons:
        apt:
          packages:
            - libonig5

install:
  - composer self-update --2
  - composer require --ignore-platform-req=php --dev --with-dependencies roots/wordpress:${WP_VERSION} wp-phpunit/wp-phpunit:${WP_VERSION} phpunit/phpunit:${PHPUNIT_VERSION}
  - composer show
  - nvm install 16 && nvm use 16
  - yarn install
  - git clone --depth=50 --branch=${CF7_VERSION} https://github.com/takayukister/contact-form-7.git

before_script:
  - mysql -u root -e "CREATE USER ${WP_DB_USER} IDENTIFIED BY '${WP_DB_PASS}';"
  - mysql -u root -e "GRANT ALL PRIVILEGES ON ${WP_DB_NAME}.* TO ${WP_DB_USER};"
  - mysql -u root -e "CREATE DATABASE ${WP_DB_NAME};"
  - phpenv config-rm xdebug.ini || return 0

script:
  - composer test
  - yarn test
  - yarn build